[Unit]
Description=Auto git pull for repository
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/build/website
ExecStart=/usr/bin/git pull
