[Unit]
Description=Run git pull every 3 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=3min
Unit=web_host_update.service

[Install]
WantedBy=timers.target
