{% include 'common/head.html' %}
<body>

    {% set current = 'home' %}
    {% include 'common/navbar.html' %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <div class="main-wrapper">
        <div class="container">
            <div class="project-name">LMToolbox</div>
            <img src="{{ url_for('static', filename='images/ic_launcher-playstore.png') }}" alt="Logo" class="logo">
        </div>

        <img src="{{ url_for('static', filename='images/bg_image-playstore.jpg') }}" alt="Background" class="bg-image">
    </div>


</body>
</html>